<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="bg-black px-4 sm:px-6">
        <div class="max-w-[1400px] mx-auto text-slate-400 text-md">
          <div class="flex justify-center sm:justify-between items-center py-[4vmin] border-gray-800 border-b">
            <nav class="flex justify-start items-center font-medium text-white text-sm sm:text-md">
              <a class="pr-4 hover: text-[#d1ff19] hidden sm:block" href="/"><svg xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 800 294" preserveAspectRatio="xMidYMid meet" class="ghost-orb-logo-light" height="40px">
                  <title>Ghost Logo</title>
                  <style>
                    svg.ghost-orb-logo-light {
                      background-size: 100% 100%;
                      background-repeat: no-repeat;
                      background-image: url(/images/logos/ghost-logo-light.webp);
                    }
                  </style>
                </svg></a><a class="px-4 hover: text-[#d1ff19]" href="/about/">About</a>
              <a class="px-4 hover: text-[#d1ff19]" href="/explore/">Explore</a>
              <a class="px-4 hover: text-[#d1ff19]" href="#://careers.ghost.org/" target="_blank"
                rel="noopener noreferrer">Careers</a>
              <a class="px-4 hover: text-[#d1ff19]" href="#://ghost.org/resources/">Resources</a>
            </nav>
            <iframe class="hidden sm:block"
              src="https://ghbtns.com/github-btn.html?user=tryghost&amp;repo=ghost&amp;type=star&amp;count=true"
              frameborder="0" scrolling="0" width="110" height="20" title="Star Ghost on GitHub" loading="lazy"></iframe>
          </div>
          <div
            class="hidden sm:grid gap-[4vmin] grid-cols-3 md:grid-cols-4 lg:grid-cols-5 mt-[4vmin] justify-start pb-[5vmin]">
            <section>
              <span class="text-white font-medium mb-1">Product</span>
              <ul class="text-md">
                <li>
                  <a class="block py-2 leading-tight hover:text-white" href="/">Creator platform</a>
                </li>
                <li>
                  <a class="block py-2 leading-tight hover:text-white" href="/marketplace/">Theme marketplace</a>
                </li>
                <li>
                  <a class="block py-2 leading-tight hover:text-white" href="/integrations/">Integrations</a>
                </li>
                <li>
                  <a class="block py-2 leading-tight hover:text-white" href="/feature-index/">Feature index</a>
                </li>
              </ul>
            </section>
            <section>
              <span class="text-white font-medium mb-1">Developers</span>
              <ul class="text-md">
                <li>
                  <a class="block py-2 leading-tight hover:text-white" href="/docs/install/">How to install Ghost</a>
                </li>
                <li>
                  <a class="block py-2 leading-tight hover:text-white" href="/docs/">Core concepts</a>
                </li>
                <li>
                  <a class="block py-2 leading-tight hover:text-white" href="/pricing/">Ghost hosting</a>
                </li>
                <li>
                  <a class="block py-2 leading-tight hover:text-white" href="/docs/content-api/">API documentation</a>
                </li>
                <li>
                  <a class="block py-2 leading-tight hover:text-white" href="/docs/security/">Security overview</a>
                </li>
                <li>
                  <a class="block py-2 leading-tight hover:text-white" href="#://github.com/TryGhost/Ghost"
                    target="_blank" rel="noopener noreferrer">Source code</a>
                </li>
              </ul>
            </section>
            <section class="hidden md:block">
              <span class="text-white font-medium mb-1">Resources</span>
              <ul class="text-md">
                <li>
                  <a class="block py-2 leading-tight hover:text-white" href="/tutorials/">Ghost tutorials</a>
                </li>
                <li>
                  <a class="block py-2 leading-tight hover:text-white" href="/resources/">Resources</a>
                </li>
                <li>
                  <a class="block py-2 leading-tight hover:text-white" href="#://nodecms.guide" target="_blank"
                    rel="noopener noreferrer">Node.js CMS guide</a>
                </li>
                <li>
                  <a class="block py-2 leading-tight hover:text-white" href="#://opensubscriptionplatforms.com">Open
                    Subscription Platforms</a>
                </li>
              </ul>
            </section>
            <section class="hidden lg:block">
              <span class="text-white font-medium mb-1">Comparisons</span>
              <ul class="text-md">
                <li>
                  <a class="block py-2 leading-tight hover:text-white" href="/vs/substack/">Ghost vs Substack</a>
                </li>
                <li>
                  <a class="block py-2 leading-tight hover:text-white" href="/vs/wordpress/">Ghost vs WordPress</a>
                </li>
                <li>
                  <a class="block py-2 leading-tight hover:text-white" href="/vs/medium/">Ghost vs Medium</a>
                </li>
                <li>
                  <a class="block py-2 leading-tight hover:text-white" href="/vs/memberful/">Ghost vs Memberful</a>
                </li>
                <li>
                  <a class="block py-2 leading-tight hover:text-white" href="/vs/patreon/">Ghost vs Patreon</a>
                </li>
                <li>
                  <a class="block py-2 leading-tight  text-[#d1ff19]" href="/alternatives/">Ghost alternatives →</a>
                </li>
              </ul>
            </section>
            <section>
              <span class="text-white font-medium mb-1">Support</span>
              <ul class="text-md">
                <li>
                  <a class="block py-2 leading-tight hover:text-white" href="/help/">Help center</a>
                </li>
                <li>
                  <a class="block py-2 leading-tight hover:text-white" href="#://forum.ghost.org/">Community forum</a>
                </li>
                <li>
                  <a class="inline-flex items-center py-2 hover:text-white group" href="#://status.ghost.org/"
                    target="_blank" rel="noopener noreferrer">Status &nbsp;<span
                      class="flex-grow-0 inline-flex items-center bg-slate-700 text-slate-300 group-hover:text-slate-300 rounded px-1 text-xs font-semibold"><svg
                        width="7" height="4" viewBox="0 0 7 4" xmlns="http://www.w3.org/2000/svg">
                        <title>Triangle</title>
                        <path d="M3.5 0L7 4H0z" fill="#BFD0DC" fill-rule="evenodd"></path>
                      </svg>
                      &nbsp;99.9%</span></a>
                </li>
              </ul>
            </section>
          </div>
          <div class="flex flex-col sm:flex-row items-center justify-center sm:justify-between py-[4vmin]">
            <div class="flex items-center">
              <a class="mr-12" href="/about/"><img src="https://ghost.org/images/logos/indie.svg" alt="Non-Profit Foundation" width="89"
                  height="34" loading="lazy" /></a>
              <a class="mr-12" href="#" target="_blank" rel="noopener noreferrer"><img
                  src="https://ghost.org/images/logos/opensource.svg" alt="Open Source" width="89" height="34" loading="lazy" /></a>
              <a href="#://climate.stripe.com/6MNofu" target="_blank" rel="noopener noreferrer"><img
                  src="https://ghost.org/images/logos/carbonneutral.svg" alt="Carbon Neutral" width="102" height="34" loading="lazy" /></a>
            </div>
            <nav class="hidden md:flex items-center text-sm">
              <a class="inline-block px-2 hover:text-white" href="#">Terms</a>
              <a class="inline-block px-2 hover:text-white" href="#">Privacy</a>
              <a class="inline-block px-2 hover:text-white" href="#">Contact</a>
              <a class="inline-block pl-2 hover:text-white" href="#">Ghost Foundation © 2023</a>
            </nav>
          </div>
        </div>
      </div>
</body>
</html>